# Local Files
local/


# Virtual Environments
.venv/
venv/
bin/
lib/
lib64
pyvenv.cfg
share/


# Test artifacts
.cache/
.pytest_cache/
.tox/


# Byte-compiled / optimized files
*.py[cod]


# Build artifacts
dist/
docs/_build/
*.egg-info/
.DS_Store


# Misc
=2.4.2
