[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {editable = true, path = "."}

[dev-packages]
versioneer = "*"
sphinx = ">=1.8.0"
sphinx-rtd-theme = "*"
pytest = "*"
flake8 = "*"
twine = "*"
ipython = "*"
