alabaster==0.7.10
atomicwrites==1.1.5
attrs==18.1.0
Babel==2.5.3
certifi==2018.4.16
chardet==3.0.4
-e git+https://github.com/CiscoDevNet/ciscosparkapi.git@a99b19eece51a8fc8dc3edc2c5b7a43417c7aac0#egg=ciscosparkapi
docutils==0.14
flake8==3.5.0
future==0.16.0
idna==2.6
imagesize==1.0.0
Jinja2==2.10
MarkupSafe==1.0
mccabe==0.6.1
more-itertools==4.2.0
packaging==17.1
pkginfo==1.4.2
pluggy==0.6.0
py==1.5.3
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.6.0
pytz==2018.4
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.4
sphinx-rtd-theme==0.3.1
sphinxcontrib-websupport==1.0.1
tox==3.0.0
tqdm==4.23.4
twine==1.11.0
urllib3==1.22
versioneer==0.18
virtualenv==16.0.0
